<!--The content below is only a placeholder and can be replaced.-->
<div class="page_content">
    <div class="leftcol">
        <div class="searchbar">
            <div class="sortbox"></div>
            <div class="searchbar_left">
                <input type="text" id="term" (keyup)="onNameKeyUp($event)">
                <button class="btn_small" (click)=""><span>Buscar</span></button>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div id="search_result_container">
            <div class="search_result_row" *ngFor="let i of steamAppsFiltered">
                <a (click)="showMore(i.appid)">
                    <div class="search_result_column_image">
                        <img src="https://steamcdn-a.akamaihd.net/steam/apps/{{i.appid}}/capsule_sm_120.jpg">
                    </div>
                    <div class="search_result_column_text">
                        <div class="search_result_column first_col">{{ i.appid }}</div>
                        <div class="search_result_column second_col">{{ i.name }}</div>
                        <div class="search_result_column third_col"><button class="btn_small" (click)="showMore(i.appid)"><span>Detalles</span></button></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="rightcol">
        <div class="block" *ngIf="showImage()">
            <div class="block_header">Imagen:</div>
            <div class="block_content">
                <a [href]="showImage()" target="_blank"><img [src]="showImage()" width="100%" /></a>
            </div>
        </div>
        <div class="block" *ngIf="!steamAppFailure">
            <div class="block_header">Nombre:</div>
            <div class="block_content">{{ showName() }}</div>
        </div>
        <div class="block" *ngIf="steamAppFailure">
            <div class="block_header_error">Error:</div>
            <div class="block_content_error">El juego o la aplicación ya no se encuentra disponible.</div>
        </div>
        <div class="block" *ngIf="showType()">
            <div class="block_header">Tipo:</div>
            <div class="block_content">{{ showType() }}</div>
        </div>
        <div class="block" *ngIf="showPrice()">
            <div class="block_header">Precio:</div>
            <div class="block_content">{{ showPrice() }}</div>
        </div>
        <div class="block" *ngIf="listGenres()">
            <div class="block_header">Géneros:</div>
            <div class="block_content">{{ listGenres() }}</div>
        </div>
        <div class="block" *ngIf="showDescription()">
            <div class="block_header">Descripción:</div>
            <div class="block_content" [innerHtml]="showDescription()" style="text-align: justify;"></div>
        </div>
        <div class="block" *ngIf="!showDescription() && showShortDescription()">
            <div class="block_header">Descripción:</div>
            <div class="block_content" [innerHtml]="showShortDescription()" style="text-align: justify;"></div>
        </div>
        <div class="block" *ngIf="showScore()">
            <div class="block_header">Puntuación (Metacritic):</div>
            <div class="block_content">{{ showScore() }}</div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>